.banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(255, 255, 255, 0.98)),
    url("images/banner-img.jpg");
    background-size: cover;
    object-fit: scale-down;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner h1 {
    font-family: 'Passion One', cursive;
    font-size: 124px;
    opacity: 0.8;
    position: absolute;
    top: 38px;
    top: 35px;
    left: 194px;
}

.subtitle{
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    position: absolute;
    left: 198px;
    left: 198px;
    top: 191px;
}

.btn {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    border-radius: 18px;
    padding: 20px 26px;
    font-weight: lighter;
    opacity: 0.6;
    font-family: 'Poiret One', cursive;
    font-size: 17px;
    position: absolute;
    margin-top: 154px;
    left: 193px;
    }
 
.btn:hover {
	opacity: 1;
	text-decoration: none;
    color: whitesmoke;
    border: 1px solid grey;
    font-size: 21px;
}

.contact {
    font-size: 21px;
    color: #243038;
    top: -4px;
    right: 26px;
    position: absolute
}

